@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

::selection {
  @apply bg-brand-400/60 text-white;
}
